
<h1>Nuevo Producto</h1>
<form action="/realtimeproducts" method="post">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="title">
      Title
      <input type="text" id="title" name="title" placeholder="title" required>
    </label>

    <label for="description">
      Description
      <input type="text" id="description" name="description" placeholder="description" required>
    </label>

  </div>

  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="price">
      Price
      <input type="text" id="price" name="price" placeholder="price" required>
    </label>

    <label for="thumbnail">
      Thumbnail
      <input type="file" id="thumbnail" name="thumbnail" placeholder="thumbnail" required>
    </label>

  </div>

    <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="code">
      Code
      <input type="text" id="code" name="code" placeholder="codecode" required>
    </label>

    <label for="stock">
      Stock
      <input type="text" id="stock" name="stock" placeholder="stock" required>
    </label>

  </div>

  <!-- Button -->
  <button type="submit">Enviar</button>

</form>